menuconfig ONEPLUS
	bool "ONEPLUS device specific drivers"
	default n

if ONEPLUS

source "drivers/oneplus/kernel/Kconfig"
source "drivers/oneplus/misc/Kconfig"
source "drivers/oneplus/power/Kconfig"

endif # ONEPLUS
